body{
	background-size: cover;
	background-repeat: no-repeat;
	text-align:center;
}

.login{
	color: black;
	width:225px;
	margin:0px auto;
	text-align:left;
        background-color: #f1f1f1;        
        color: black;
        padding: 1em;
        box-shadow: 0 0 1em #444;       
}

 h4{    
        font-size: 150%;   
}

#logo {
        margin-bottom: 2em;       
}

#mainMenu {
        background-color: #f1f1f1;        
        color: black;
        padding: 1em;
        box-shadow: 0 0 1em #444;       
        width:750px;        
}

#userList{
        background-color: #f1f1f1;        
        color: black;
        padding: 1em;
        box-shadow: 0 0 1em #444;       
        width:1250px;
}

#editUser{
        background-color: #f1f1f1;        
        color: black;
        padding: 1em;
        box-shadow: 0 0 1em #444;       
        width:750px;
}


.menuPanel {
        background-color: white;
        box-shadow: 0 0 0.5em #444;
}

.todo { color: red; }
.todo:before { content: "TO DO: "; }

li{
    display: block;
}