body{
	background: url("img/backgroundimg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align:center;
}


.login{
	color: white;
	width:250px;
	margin:0px auto;
	text-align:left;

}