body{
	background: url("img/backgroundimg.jpg");
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
	text-align:center;
}

.content{
	width:250px;
	margin:0px auto;
	text-align:left;
	position: relative; left:-3%; top:100px;

}

ul.menu{
	margin:0px auto;
	padding:0px;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:1020px;
}

ul.menu a{
	text-decoration:none;
	outline:none;
	text-align: center;
}

ul.menu li{
	float:left;
	width:170px;
	height:85px;
	position:relative;
	cursor:pointer;
}

ul.menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:85px;
	z-index:12;
	background:transparent url(../images/overlay.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}

ul.menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}

ul.menu li span.wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}

ul.menu li span.active{
	position:absolute;
	background:#111;
	top:85px;
	width:170px;
	height:0px;
	left:0px;
	z-index:14;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}

ul.menu li span span.link,
ul.menu li span span.sdt_descr,
ul.menu li div.box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
	text-align: center;
}

ul.menu li span span.link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;
}

ul.menu li span span.sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; /*IE7*/
	font-size:10px;
	letter-spacing:1px;
}

ul.menu li div.box{
	display:block;
	position:absolute;
	width:170px;
	overflow:hidden;
	height:170px;
	top:85px;
	left:0px;
	display:none;
	background:#000;
}

ul.menu li div.box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}

ul.menu li div.box a:first-child{
	margin-top:15px;
}

ul.menu li div.box a:hover{
	color:#fff;
}